.App {
  text-align: center;
}

body {
  background-size: cover;
  background-color: lightskyblue;
}

/*keyframe animation of sign in logo */
@keyframes sign_in_logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

