.dashboard-container {
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: whitesmoke;
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    font-family: monospace;
    font-size: 20px;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.title-h1 {
    font-size: large;
    padding-bottom: 40px;
}

.navbar .nav-menu {
    height: 48px;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    text-align: left;
}

.navbar .nav-menu a {
    display: block;
    padding: 12px 16px;
    color: purple;
    transition: background-color 0.3s ease; /* Add a transition for smoother hover effect */
}

.navbar .nav-menu li:hover {
    background-color: #ddd;
}

.features-container {
    text-align: right;
}

/* center div */
.post-container {
    padding: 40px;
    margin-left: 20px;
}

.input-post {
    border-radius: 20px;
    border-color: purple;
    width: 500px;
    height: 80px;
    font-family: monospace;
    font-size: 15px;
    padding-left: 6px;
}

.input-post::selection {
    border-color: purple;
}

.post-button {
    background-color: purple;
    color: lightgrey;
    font-family: monospace;
    border-radius: 20px;
    height: 20px;
    width: 50px;
}