.post-div {
    background-color: rgb(213, 172, 228);
    border-radius: 20px;
    width: 700px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.post-author {
    font-weight: bold;
}

.post-timestamp {
    font-weight: italic;
}